openapi: 3.0.3
info:
  description: A simple API for retrieving weather information.
  title: Weather API
  version: 1.0.0
servers:
- url: https://api.weather.com/v1
paths:
  /weather:
    get:
      description: Retrieve the current weather data for a specific city.
      parameters:
      - description: Name of the city to retrieve weather for.
        explode: true
        in: query
        name: city
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_weather_get_200_response'
          description: A JSON object containing the current weather.
        "400":
          description: Invalid city name provided.
        "500":
          description: Internal server error.
      summary: Get current weather
  /forecast:
    get:
      description: Retrieve the 5-day weather forecast data for a specific city.
      parameters:
      - description: Name of the city to retrieve the forecast for.
        explode: true
        in: query
        name: city
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forecast_get_200_response'
          description: A JSON object containing the 5-day weather forecast.
        "400":
          description: Invalid city name provided.
        "500":
          description: Internal server error.
      summary: Get 5-day weather forecast
components:
  schemas:
    _forecast_get_200_response:
      example:
        forecast:
        - date: 2024-10-09T00:00:00.000Z
          temperature: 18.7
          description: Light rain
        - date: 2024-10-09T00:00:00.000Z
          temperature: 18.7
          description: Light rain
      properties:
        forecast:
          items:
            $ref: '#/components/schemas/_forecast_get_200_response_forecast_inner'
          title: forecast
          type: array
      title: _forecast_get_200_response
      type: object
    _forecast_get_200_response_forecast_inner:
      example:
        date: 2024-10-09T00:00:00.000Z
        temperature: 18.7
        description: Light rain
      properties:
        date:
          example: 2024-10-09T00:00:00.000Z
          title: date
          type: string
        temperature:
          example: 18.7
          title: temperature
          type: number
        description:
          example: Light rain
          title: description
          type: string
      title: _forecast_get_200_response_forecast_inner
      type: object
    _weather_get_200_response:
      example:
        city: London
        temperature: 22.5
        description: Clear sky
      properties:
        temperature:
          example: 22.5
          title: temperature
          type: number
        description:
          example: Clear sky
          title: description
          type: string
        city:
          example: London
          title: city
          type: string
      title: _weather_get_200_response
      type: object
